a.item:hover {
  background-color: rgba(34, 36, 38, 0.15) !important;
}

.nav {
  margin-bottom: 0px !important;
}

.bt-0 {
  border-top: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}
