a.item:hover {
  background-color: rgba(34, 36, 38, 0.15) !important;
}

.nav {
  margin-bottom: 0px !important;
}

.bt-0 {
  border-top: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.p-0 {
  padding: 0px !important;
}

.gray {
  background: #fafafa !important;
}

.white {
  background: #ffffff !important;
}

/* PatientDetails */
.info_block::after {
  content: "";
  top: 8%;
  bottom: 8%;
  left: 100%;
  width: 1px;
  background: #dddddd;
  position: absolute;
}
